.wrapper{
	padding: 0.5em;
}

.wrapper#top #logo_menu{
	width: 100%;
	height:auto;
}

.wrapper#top #logo_menu h1{
	font-family: "Bebas Neue","sans-serif";
	font-size: 3.0em;
}

.wrapper#top nav{
	display: block;
}

.wrapper#top nav ul{
	display: block;
}

.wrapper#top nav ul li{
	display: inline-block;
	margin-right: 0.3em;
	
}

.wrapper #top h3{

}

.wrapper #central{

}

.wrapper #footer{

}